<div class="container" >
  <div class="row align-items-center">
    <div class="col-md-2 text-center text-md-left">
      <img src="assets/images/MP-Logo.png" alt="Logo" class="img-fluid img-max-h-sm">
    </div>
    <!-- Column for Brand Name -->
    <div class="col-md-8 d-flex flex-column align-items-center text-center text-md-left">
      <a class="  apptitle text-decoration-none" href="#">{{ appName }}</a>
      <a class=" apptitle mt-2 text-decoration-none" href="#">{{ appNameHi }}</a>
    </div>
    <div class="col-md-2 text-center text-md-right">
      <img src="assets/images/indianembelem.png" alt="Indian Emblem" class="img-fluid">
    </div>
  </div>
</div>
