<!-- footer.component.html -->
<footer id="footer" class="footer bg-secondry text-white">
  <div class="container">
    <div class="row py-3">
      <!-- Empty Column for Spacing (Optional) -->
      <div class="col-md-4  ">
        <h5><i class="bi bi-journal"></i> Policy</h5>
        <ul class="imp-links list-unstyled  ">
          <li class="mx-2"><a class="text-white" title="Contact Us" routerLink="/contact">Hyper Link Policy</a></li>
          <li class="mx-2"><a class="text-white" title="Terms and Conditions" routerLink="/terms">Privacy Policy</a></li>
          <li class="mx-2"><a class="text-white" title="Terms and Conditions" routerLink="/terms">Copyright Policy</a></li>
        </ul>
      </div>
      <!-- Main Content Column -->
      <div class="col-md-4 col-sm-12 ">
        <h5><i class="bi bi-link"></i> Important Links</h5>
        <ul class="imp-links list-unstyled  ">
          <li class="mx-2"><a class="text-white" title="Contact Us" routerLink="/contact">About Us</a></li>
          <li class="mx-2"><a class="text-white" title="Terms and Conditions" routerLink="/terms">Terms and
              Conditions</a></li>
        </ul>
      </div>
      <!-- Image Column -->
      <div class="col-md-4 ">
        <h5> <i class="bi bi-person-lines-fill"></i> Contact us</h5>
        <span>Deputy Director (IT Cell)
          Directorate of Health Services
          6th, Floor, Satpuda Bhawan Bhopal (MP)</span>
        <span class="mdi mdi-alert-octagram"></span>
        <img src="/assets/images/nic.jpg" height="60" alt="NIC Logo">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row bg-dark p-1">
      <div class="col-md-7 text-center">
        <span class="text-light">Copyright © 2024 MP Trauma Care, Government of Madhya Pradesh. All Rights Reserved.</span>
      </div>
      <div class="col-md-5 text-left">
        <span class="text-light">Designed & Developed by National Informatics Centre NIC</span>
      </div>

    </div>
  </div>
</footer>
