
  <div class="container align-item-right ">
    <ul class="navbar-nav ml-auto d-flex flex-row justify-content-end "> <!-- Aligns items to the right -->
      <li class="nav-item">
        <a href="#SkipContent" class="nav-link skip-to-content" title="Skip to main content">
           SKIP TO MAIN CONTENT
        </a>
      </li>
      <li class="nav-item dropdown">
        <a href="javascript:void(0);" title="Accessibility Links" aria-label="Accessibility Links" class="nav-link"
          role="button" data-toggle="dropdown">
          <span class="d-none d-md-inline">Accessibility Links</span>
        </a>
        <div class="dropdown-menu p-2">
          <a data-event-type="increase" href="javascript:void(0);" data-label="Font Size Increase"
            aria-label="Font Size Increase" title="Font Size Increase" class="dropdown-item">
            <span aria-hidden="true">A+</span> Font Size Increase
          </a>
          <a data-event-type="normal" href="javascript:void(0);" data-label="Normal Font"
            aria-label="Normal Font - selected" title="Normal Font - selected" class="dropdown-item active">
            <span aria-hidden="true">A</span> Normal Font - Selected
          </a>
          <a data-event-type="decrease" href="javascript:void(0);" data-label="Font Size Decrease"
            aria-label="Font Size Decrease" title="Font Size Decrease" class="dropdown-item">
            <span aria-hidden="true">A-</span> Font Size Decrease
          </a>
          <a href="javascript:void(0);" aria-label="High Contrast" title="High Contrast" class="dropdown-item">
            <span aria-hidden="true">A</span> High Contrast
          </a>
          <a href="javascript:void(0);" aria-label="Normal Contrast - Selected" title="Normal Contrast - Selected"
            class="dropdown-item">
            <span aria-hidden="true">A</span> Normal Contrast - Selected
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="javascript:void(0);" class="nav-link change-language" aria-label="English - Selected"
          title="English - Selected" role="button" data-toggle="dropdown">
          English
        </a>
        <div class="dropdown-menu p-2">
          <a lang="hi" hreflang="hi-IN" aria-label="हिन्दी" title="हिन्दी" class="dropdown-item">
            हिन्दी
          </a>
        </div>
      </li>
    </ul>
  </div>

